/*--------------- basic styling --------------- */
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono' !important;
  background: #0f0f0f !important;
  color: #fff !important;
}
.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.whitespace {
  width: 100%;
  height: 100px;
}
.whitespace2 {
  width: 100%;
  height: 30px;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}

/*--------------- typewriter effect --------------- */
.line {
  position: relative;
  width: 100%;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation:
    typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.br767 {
  display: block;
}
.view767 {
  display: none;
}

@media (max-width: 768px) {
  .br767 {
    display: none;
  }
  .view767 {
    display: block;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

@keyframes blinkTextCussor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*--------------- navigation --------------- */
nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  position: fixed;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  text-decoration: none;
}

nav #menu {
  float: left;
  right: 80px;
  position: fixed;
  margin-top: 28px;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  /*line-height: 80px;*/
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
}

nav #menu li a:hover {
  text-decoration: none;
}

#toggle {
  position: absolute;
  right: 15%;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 10%;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    /*margin-right: 7%;*/
  }

  nav #brand {
    margin-left: 5%;
  }

  #menu a {
    font-size: 20px;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
  #menu {
    padding-inline-start: 0 !important;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
    width: 95%;
  }
}

/*--------------- hero section --------------- */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 26px;
  }
}

/*--------------- text on hover text-decoration animation --------------- */

.arrow-right {
  animation: moveLeftRight 2s infinite;
  color: #fff;
  fill: #ffffff;
  stroke: #ffffff;
  margin: 0 0.5%;
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.text-highlight {
  color: #fff;
}
.text-highlight::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 4px;
  margin-left: 1%;
  height: 1px;
  background-color: #fff;
  transition: 0.4s 0.2s;
}

.text-highlight:hover::after {
  /*text-decoration: underline;*/
  width: 90%;
}
.text-highlight:hover {
  text-decoration: none;
  color: #fff;
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

/*--------------- projects section --------------- */
h6 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project {
  height: 500px;
  font-size: 36px;
  cursor: pointer;
}

.project1 {
  /*background: url(https://images.unsplash.com/photo-1540349220179-09d3866f2e74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80)*/
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/1cbf1e148943817.62dec9643946c.jpg) no-repeat 50%
    50%;
  background-size: cover;
}
.project-content {
  position: absolute;
  font-family: 'Roboto Mono';
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 36px;
  transform: translateX(-50%);
  text-shadow:
    2px 4px 10px #0f0f0f,
    2px 4px 10px #0f0f0f,
    2px 4px 20px #0f0f0f;
}

.project-content-1 {
  top: 0%;
  color: #fff;
  /*transform: translateX(-50%);*/
  text-align: center;
}

/*.project1::after {*/
/*  content: 'timeless flow.';*/
/*  font-family: 'Roboto Mono';*/
/*  font-size: 36px;*/
/*  position: relative;*/
/*  color: #fff;*/
/*  display: block;*/
/*  top: 8%;*/
/*  left: -60%;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*}*/

.project2 {
  /*background: url(https://images.unsplash.com/photo-1468870045442-e7d799d8c98a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2448&q=80)*/
  /*  no-repeat 50% 50%;*/
  background: url('https://ukraine-express.com/files/img/shopdirscreenshot68.jpg') no-repeat 50% 50%;
  background-size: cover;
}
.project-content-2 {
  bottom: -45%;
  color: #fff;
  text-align: center;
}

/*.project2::after {*/
/*  content: 'foretime.';*/
/*  font-family: 'Roboto Mono';*/
/*  font-size: 36px;*/
/*  position: relative;*/
/*  color: #fff;*/
/*  display: block;*/
/*  top: 80%;*/
/*  left: 90%;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*}*/

.project3 {
  /*background: url(https://images.unsplash.com/photo-1482501157762-56897a411e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)*/
  /*  no-repeat 50% 50%;*/
  background: url(https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/2bea95199401721.Y3JvcCwxNTM0LDEyMDAsMzQsMA.jpg)
    no-repeat 50% 50%;
  background-size: cover;
}
.project-content-3 {
  top: -60%;
  color: #fff;
  text-align: center;
}

/*.project3::after {*/
/*  content: 'never again.';*/
/*  font-family: 'Roboto Mono';*/
/*  font-size: 36px;*/
/*  position: relative;*/
/*  color: #fff;*/
/*  display: block;*/
/*  top: 80%;*/
/*  left: -50%;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*}*/

.project4 {
  background: url(https://mir-s3-cdn-cf.behance.net/projects/808/11bd18148734341.62deb4607d068.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.project-content-4 {
  top: 250%;
  color: #fff;
  text-align: center;
}

/*.project4::after {*/
/*  content: 'departure.';*/
/*  font-family: 'Roboto Mono';*/
/*  font-size: 36px;*/
/*  position: relative;*/
/*  color: #fff;*/
/*  display: block;*/
/*  top: 10%;*/
/*  left: 90%;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*}*/
@media (max-width: 990px) {
  .project-content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }
  .project2 {
    background: url('https://photos-us.bazaarvoice.com/photo/2/cGhvdG86bGFuY29tZQ/10456e47-c903-5c8b-84ac-efd46279cc0d')
      no-repeat 50% 50%;
    background-size: 100%;
  }

  .vertical {
    display: none;
  }

  .project1::after,
  .project2::after,
  .project3::after,
  .project4::after {
    display: none;
  }
}

/*--------------- footer section --------------- */
.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4 {
  font-size: 18px;
  font-weight: lighter;
}

.info p {
  color: grey;
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

#fb::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998;
}

#ig::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #fcaf45;
}

#tw::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #55acee;
  /*background-image: url("https://img.icons8.com/color/48/000000/twitter.png");*/
  /*background-size: cover;*/
}

#yt::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #c4302b;
}

#media,
#address {
  text-align: right;
}

#media ul {
  padding-left: 0;
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 768px) {
  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}

/*--------------- work page --------------- */

.hero-content {
  margin-left: 0%;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h6 {
  text-align: left;
}

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto;
  }
}

/*---------------about page --------------- */

.about {
  height: 500px;
  margin-top: 120px;
}

.image {
  background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80)
    no-repeat 50% 70%;
}

/*--------------- contact form --------------- */

#contact-form {
  margin: 5% 1.4%;
}

#contact-form ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

#contact-form li {
  padding: 10px;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 0.8em;
  color: #999;
  padding-left: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #fff;
  font-weight: bolder;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid #dfdfdf;
}

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 20px 30px;
  background: transparent;
  color: #dfdfdf;
  font-size: 14px;
  letter-spacing: 2px;
}

.send:hover {
  background: #dfdfdf;
  color: #101010;
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%;
  }
}

/*--------------- project page --------------- */

.prev,
.next p {
  color: grey;
}

.prev p {
  text-align: left;
}

.next p {
  text-align: right;
}
